@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;600;800&display=swap');

* {
    font-family: 'EB Garamond', serif;
}

:root {
    --primary-background-color: #B68C5A;
}

.customBtn {
    background-color: var(--primary-background-color);
}

.custom-banner {
    background-image: url(../images/banner.png);
    background-position: right;
    height: 550px;
    width: 100%;
}


.slide {
    height: 500px !important;
}

.customInput input {
    height: 50px;
}

.submitBtn {
    height: 50px;
    padding: 14px 10px;
    margin-left: -5px;
    background-color: #B68C5A;
}